TelegramBot/bin/Debug/images/1.jpg
TelegramBot/bin/Debug/images/happy1.jpg
TelegramBot/bin/Debug/images/harry1.jpg
TelegramBot/bin/Debug/images/keron1.jpg
*.jpeg
TelegramBot/bin/Debug/images/parb2.jpg
*.jpg
TelegramBot/bin/Debug/quotes.txt
TelegramBot/bin/Debug/telegram_api_key.txt